.main{
    background-color: rgb(253,253,253);
}

.cardsContainer{
    display:inline;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}